<div class="row">
  <div class="col-md-6 col-xm-6 col-sm-6">
    <h1><%= @song.title %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xm-6 col-sm-6">
    <%= raw @song.text %>
  </div>
</div>
