<div class="container">
  <h1>Editing song</h1>
  <div class="row">
    <%= render 'form' %>
  </div>

  <%= link_to 'Show', @song %> |
  <%= link_to 'Back', songs_path, :class => 'btn btn-primary'%>
</div>
