$modal = $('.modal'),
        $modalBody = $('.modal .modal-body'),
        $modalHeading = $('.modal .modal-heading');
        $modalHeading.html("<p class=\"text-left\"><%=@song.title %></p> <h4 class=\"text-left\"><%=@song.page%></h4>");
        $modalBody.html("<%= escape_javascript(render @song) %>");
        $modal.modal();
