@-ms-viewport {
    width: auto;
}

html,body {
    -ms-overflow-style: none !important;
}

.modal {
    overflow-y:auto;
    max-height:90%;
    /*margin-top:-45%;*/
    position: absolute;
}

.modal-wrapper {
    position: absolute;
    top: 50px;
    left: 10%;
    z-index: 1050;
    width: 80%;
    margin-left: 0px;
    padding-bottom: 80px;
    overflow: visible;
}
