@-ms-viewport {
    width: auto;
}

html,body {
    -ms-overflow-style: none !important;
    margin-bottom: 20%;
}

.modal {
    overflow-y:auto;
    position: absolute;
    z-index: 1050;
    padding-bottom: 80px;
    max-height: 420px;
}
